html, body
  height: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  font-size: 62.5%
  background: #eee
  font-family: $font-title
  
.header
  position: relative
  display: flex
  height: 55em
  background: url('../img/bg-floripa.jpg') no-repeat top center
  overflow: hidden

  &:after
    content: ''
    absolute: bottom right left top
    background: linear-gradient(top, #999, #222)
    opacity: .8
    
  &:before
    section-divisor()


.header-wrapper
  width: 25em
  margin: auto
  z-index: 100


// -------
// section
// -------
.section-about
  padding: 4em 0

.section-wrapper
  z-index: 20
  @extends $section-wrapper

.section-title
  width: 40%
  
.section-title--item
  margin: 0
  padding: 0
  font-family: $font-title
  font-weight: 900
  font-size: 5em
  color: $color-secondary
  position: relative
  display: inline-block
  
  &:after
    content: ''
    display: block
    width: .22em
    height: @width
    position: absolute
    right: -(@width + .1)
    bottom: @width
    border-radius: 50%
    background: $color-primary

.section-content
  width: 100%
  
.section-text
  color: $color-text
  font-size: 1.7em
  font-family: $font-title
  font-weight: 400
  line-height: 2em
  width: 95%
  
  a
    color: $color-text
    text-decoration: none
    border-bottom: 1px dotted #888
    padding-bottom: .1em
    font-weight: 700
    
    &:hover
      color: $color-primary


// section: meetup
.section-meetup
  padding-top: 7em
  padding-bottom: 8em
  position: relative
  display: flex
  background: url('../img/bg-header.jpg') no-repeat top center
  overflow: hidden
  background-size: cover
  
  &:before
    section-divisor(#eee, 'left', 'top')
  
  &:after
    section-divisor(#eee, 'left', 'bottom')

  .section-wrapper
    z-index: 10
    
    &:after
      content: ''
      absolute: bottom right left top
      background: linear-gradient(top, #eee, #999)
      opacity: .7
      z-index: -1

.button-join
  @extends $button
  font-size: 1.8em
  text-transform: uppercase

.meetup-support
  display: flex
  
  @media phone
    display: block

.meetup-support-item
  padding-right: 7%
  text-align: center
  
  @media phone
    padding-right: 0

.meetup-support-item--stats
  text-align: center
  
  .title, .num
    display: block
    
  .title
    font-weight: 700
    font-size: 1.5em
    color: $color-secondary + 20%
    
  .num
    font-weight: bold
    font-size: 3em
    color: $color-secondary
    
.meetup-support-item--note
  text-align: center
  font-size: 1em
  color: #fff
  max-width: 20em
  margin: 0 auto
  line-height: 1.6em

.button-support
  @extends $button
  font-size: 1.8em
  text-transform: uppercase
  background: transparent
  box-shadow: 0 0 0 2px #fff inset
  
  &:hover
    background: $color-primary
    
// github
.section-github
  position: relative
  padding: 5em 0
  overflow: hidden
  
.button-contribute
  @extends $button
  font-size: 1.5em
  margin-top: 2em
  text-transform: uppercase

.footer-contact
  background: $color-secondary
  position: relative
  overflow: hidden
  padding-top: 5em
  padding-bottom: 1em
  
  &:after
    section-divisor(#eee, 'left', 'top')
    
  .section-wrapper
    display: flex
    
    @media phone
      display: block
    
.footer-contact--social, 
.footer-contact--credits
  width: 100%
  
  @media phone
    text-align: center

.social-list
  margin: 0
  padding: 0
  list-style: none
  
.social-item
  display: inline-block
  vertical-align: top
  margin-right: .5em
  
.social-link
  text-decoration: none
  display: block
  opacity: .5
  transition: opacity .2s ease-in
  
  &:hover
    opacity: 1

  img
    max-width: 3em

.footer-contact--credits
  text-align: right
  
  @media phone
    text-align: center

.footer-contact--credits_email
  font-size: 1.6em
  font-weight: 700
  color: #eee
