$button
  display: inline-block
  padding: .8em 2em
  font-size: 1.6em
  font-weight: 700
  color: #fff
  background: $color-primary
  font-family: $font-title
  text-decoration: none
  border-radius: 4em
  margin: .5em 0

  @media phone
    margin-left: 0
    margin-right: 0
    text-align: center
    display: block

  &:hover
    transition: background .2s ease
    background: @background + 8%
