@font-face {
  font-family: 'GreycliffCF';
  font-weight: 700;
  src: url("../fonts/GreycliffCF-ExtraBold.woff2") format("woff2"), url("../fonts/GreycliffCF-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: 'OdudoMono';
  font-weight: bold;
  src: url("../fonts/OdudoMono-Bold.woff2") format("woff2"), url("../fonts/OdudoMono-Bold.woff") format("woff");
}
@font-face {
  font-family: 'OdudoMono';
  font-weight: normal;
  src: url("../fonts/OdudoMono-Regular.woff2") format("woff2"), url("../fonts/OdudoMono-Regular.woff") format("woff");
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
::-moz-selection {
  background: #40db4e;
  color: #fff;
}
::selection {
  background: #40db4e;
  color: #fff;
}
html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
html {
  font-size: 10px;
}
body {
  position: relative;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: default;
  padding-top: 10em;
  background-attachment: fixed;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23ececec' fill-opacity='0.70' fill-rule='evenodd'/%3E%3C/svg%3E");
}
@media only screen and (max-width: 580px) {
  body {
    padding-top: 8em;
  }
}
#home {
  position: absolute;
  top: 0;
  left: 0;
}
.logo {
  display: block;
  text-decoration: none;
}
.logo-image {
  position: fixed;
  max-width: 130px;
  top: 10em;
  left: 50%;
  margin-left: -500px;
  z-index: 20;
}
@media only screen and (max-width: 1000px) {
  .logo-image {
    margin-left: 0;
    left: 3em;
  }
}
@media only screen and (max-width: 580px) {
  .logo-image {
    max-width: 80px;
    top: 4em;
  }
}
.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  position: fixed;
  top: 15.8em;
  right: 50%;
  margin-right: -500px;
  z-index: 30;
}
@media only screen and (max-width: 1000px) {
  .menu {
    margin-right: 0;
    right: 3em;
  }
}
@media only screen and (max-width: 580px) {
  .menu {
    display: none;
  }
}
.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'OdudoMono', monospace;
}
.menu-list li {
  margin-left: 3em;
}
@media only screen and (max-width: 880px) {
  .menu-list li {
    margin-left: 2em;
  }
}
.menu-list li a {
  position: relative;
  font-size: 1.5rem;
  color: #000;
  text-decoration: none;
  padding: 0.5em 0;
}
@media only screen and (max-width: 880px) {
  .menu-list li a {
    font-size: 1.4rem;
  }
}
.menu-list li a:before {
  content: '';
  position: absolute;
  background: #40db4e;
  height: 3px;
  left: auto;
  bottom: 0;
  right: 0;
  width: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-list li a:hover:before {
  width: 100%;
  right: auto;
  left: 0;
}
.menu-list li a.btn {
  background: #40db4e;
  padding: 0.5em 1.5em;
  text-transform: uppercase;
}
.menu-list li a.btn:hover {
  background: #4fde5c;
}
.menu-list li a.btn:before {
  display: none;
}
.menu.lighten a:before {
  background: #fff;
}
.menu.lighten .btn {
  color: #fff;
  background: #000;
}
.menu.lighten .btn:hover {
  background: #141414;
}
.button {
  position: relative;
  display: inline-block;
  font-family: 'OdudoMono', monospace;
  color: #000;
  padding: 1em 2em;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  background: #40db4e;
  letter-spacing: 0.1em;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  cursor: pointer;
  border: 0;
  outline: 0;
}
.button:hover {
  background: #53df60;
}
.button.button-slack:before,
.button.button-meetup:before,
.button.button-youtube:before,
.button.button-github:before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 4px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.button.button-slack:before {
  background-image: url("../img/slack-logo.png");
}
.button.button-youtube:before {
  background-image: url("../img/youtube-logo.png");
}
.button.button-github:before {
  background-image: url("../img/github-logo.png");
}
.button.button-meetup:before {
  width: 22px;
  height: 22px;
  background-image: url("../img/meetup-logo.png");
}
.section-wrapper {
  max-width: 1100px;
  padding: 0 3em 0 26em;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
@media only screen and (max-width: 880px) {
  .section-wrapper {
    padding-left: 20em;
    padding-right: 5em;
  }
}
@media only screen and (max-width: 880px) {
  .section-wrapper {
    padding-left: 3.1em;
    padding-right: 3.1em;
  }
}
.section-title {
  margin: 0 0 0.5em 0;
  font-size: 5rem;
  color: #000;
  font-family: 'OdudoMono', monospace;
  line-height: 1.3;
}
@media only screen and (max-width: 880px) {
  .section-title {
    font-size: 4.4rem;
  }
}
@media only screen and (max-width: 580px) {
  .section-title {
    font-size: 3.8rem;
  }
}
.section-description {
  margin: 0;
  max-width: 700px;
  font-size: 1.6rem;
  line-height: 2;
  margin-bottom: 2em;
}
@media only screen and (max-width: 580px) {
  .section-description {
    font-size: 1.4rem;
  }
}
.section-description a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid #40db4e;
  padding-bottom: 0.15em;
}
.section-image {
  float: right;
  max-width: 300px;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 0.6em;
}
@media only screen and (max-width: 580px) {
  .section-image {
    float: none;
    display: block;
    max-width: 100%;
    margin: 2em 0 1.6em;
  }
}
.header {
  position: relative;
  height: 105%;
  padding-top: 5em;
  background: #fff;
  box-shadow: 0 -10px 20px 20px #fff;
}
@media only screen and (max-width: 580px) {
  .header {
    height: 450px;
  }
}
.header-wrapper {
  max-width: 1100px;
  padding: 0 3em 0 26em;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
@media only screen and (max-width: 880px) {
  .header-wrapper {
    padding-left: 20em;
    padding-right: 5em;
  }
}
@media only screen and (max-width: 880px) {
  .header-wrapper {
    padding-left: 3.1em;
    padding-right: 3.1em;
  }
}
.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.header-title {
  font-family: 'GreycliffCF', sans-serif;
  font-weight: 700;
  font-size: 5.2rem;
  margin: 0 0 0.5em 0;
  line-height: 1.2;
  max-width: 700px;
}
.header-title span {
  white-space: nowrap;
}
@media only screen and (max-width: 880px) {
  .header-title {
    font-size: 4.8rem;
  }
}
@media only screen and (max-width: 580px) {
  .header-title {
    font-size: 3.8rem;
  }
}
.community {
  padding: 20em 0 25em;
  background: #f6f6f6;
  box-shadow: 0 -10px 20px 20px #f6f6f6;
}
@media only screen and (max-width: 580px) {
  .community {
    padding: 5em 0 12em;
  }
}
@media only screen and (max-width: 580px) {
  .community {
    padding: 14em 0 10em;
  }
}
.meetup {
  padding: 20em 0 25em;
  background: #ddd;
  box-shadow: 0 -10px 20px 20px #ddd;
}
@media only screen and (max-width: 580px) {
  .meetup {
    padding: 5em 0 12em;
  }
}
.open-source {
  padding: 20em 0 25em;
  background: #f6f6f6;
  box-shadow: 0 -10px 20px 20px #f6f6f6;
}
@media only screen and (max-width: 580px) {
  .open-source {
    padding: 5em 0 12em;
  }
}
.videos {
  padding: 20em 0 25em;
  background: #fff;
  box-shadow: 0 -10px 20px 20px #fff;
}
@media only screen and (max-width: 580px) {
  .videos {
    padding: 5em 0 12em;
  }
}
.ajude {
  padding: 20em 0 25em;
  background: #40db4e;
}
@media only screen and (max-width: 580px) {
  .ajude {
    padding: 5em 0 12em;
  }
}
@media only screen and (max-width: 580px) {
  .ajude {
    padding: 5em 0 7em;
  }
}
.doacao-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.doacao-column:first-child {
  padding-right: 2em;
}
.footer {
  position: relative;
  background: #000;
  padding: 5em 0;
}
.footer-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 580px) {
  .footer-content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.footer-column {
  padding-right: 10em;
}
.footer-column:last-child {
  padding-right: 0;
}
@media only screen and (max-width: 880px) {
  .footer-column {
    padding-right: 5em;
  }
}
@media only screen and (max-width: 580px) {
  .footer-column {
    padding-right: 0;
    -webkit-flex-basis: 50%;
    -ms-flex-basis: 50%;
    flex-basis: 50%;
  }
  .footer-column:last-child {
    margin-top: 3em;
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
  }
}
.footer-credits {
  margin: 0;
  color: #fff;
  font-size: 1.4rem;
  padding-bottom: 0.5em;
}
.footer-title {
  color: #40db4e;
  margin: 0 0 1em 0;
  font-family: 'GreycliffCF', sans-serif;
  font-size: 1.8rem;
}
.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-list li {
  display: block;
  padding: 0.6em 0;
}
.footer-list li a {
  position: relative;
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
}
.footer-list li a:before {
  content: '';
  position: absolute;
  background: #40db4e;
  height: 2px;
  left: auto;
  bottom: -5px;
  right: 0;
  width: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.footer-list li a:hover:before {
  width: 100%;
  right: auto;
  left: 0;
}
