* {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    background: url('../images/bg-body.jpg') center no-repeat #000;
    font-size: 13px;
}

.wrapper {
    border-bottom: 3px solid #27aE60;
    overflow: hidden;
    padding-bottom: 100px;
    text-align: center;
}

.logo {
    display: block;
    margin: 5% auto 0;
    max-width: 100%;
}

.icon-font {
    color: #27aE60;
    display: inline-block;
    font-size: 3em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 0px 15px #000;
    margin: 1.7em 1% 0;
}

.icon-font span {
    display: none;
}

.icon-font:hover {
    color: #fff;
}

.meetup {
    background: #fff;
    font-family: "Helvetica Neue", "Open Sans", sans-serif;
    padding: 50px 0 30px 0;
}

.container {
    margin: 0 auto;
    overflow: auto;
    width: 960px;
}

.subtitle {
    color: #27aE60;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 50px;
    text-align: center;
}

.col-4, .col-8 {
    float: left;
}

.col-8 {
    width: 66%;;
}

.col-4 {
    width: 34%;
}

.talks-title {
    background: #000;
    border-radius: 0 15px 15px 0;
    color: #27aE60;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 35px;
    margin-left: 60px;
    padding: 15px 0 19px 40px;
    position: relative;
    width: 80%;
}

.talks-title span {
    background: url('../images/hexagon.png') no-repeat;
    display: inline-block;
    font-size: 23px;
    height: 73px;
    left: -60px;
    padding-left: 25px;
    padding-top: 12px;
    position: absolute;
    top: -2px;
    width: 84px;
}

.talks-title small {
    display: block;
    font-size: 15px;
    font-weight: 100;
    padding-left: 4px;
}

ul {
    list-style: none;
}

.talks-ct {
    display: inline-block;
    float: left;
}

.talks {
    border-top: 1px solid #f1f1f1;
    font-weight: 200;
    margin: 10px 0;
    overflow: auto;
    padding-top: 10px;
}

.talks:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

.talks img {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.geek {
    font-size: 15px;
    color: #666;
    display: inline-block;
    margin-top: 8px;;
    width: 130px;
}

.talks .icon-font {
    color: #666;
    font-size: 15px;
    margin: 0;
    text-shadow: 0 0 0;
}

.talks .icon-font:hover {
    color: #27aE60;
}

.talks strong {
    color: #27aE60;
    display: block;
    font-weight: 200;
    font-size: 16px;
}

.introduction {
    float: right;
    margin-right: 35px;
    width: 50%;
    font-size: 16px;
    font-weight: 200;
    line-height: 22px;
    text-align: justify;
    margin-top: 6px;
}

.highlight {
    font-weight: 400;
    font-size: large;
}

.details {
    color: #27aE60;
    font-size: 15px;
    font-weight: 200;
    margin-top: 40px;
    padding-left: 20px;
}

.details li {
    margin: 10px 0;
}

.details i {
    background: url('../images/sprite.gif') no-repeat 0 0;
    display: block;
    float: left;
    margin-right: 7px;
    width: 28px;
}

i.address {
    height: 25px;
    background-position: -2px 0px;
}

i.price {
    background-position: 0px -78px;
    height: 23px;
}

i.time {
    background-position: 0px -44px;
    height: 20px;
}

.split {
    border-top: 1px solid #ccc;
    margin: 50px auto 0 auto;
    width: 300px;
    height: 50px;
}

.split i {
    background: url('../images/split.gif') no-repeat;
    display: inline-block;
    height: 19px;
    margin: 0 auto;
    width: 41px;;
}

footer {
    background-color: #000;
    font-family: "Helvetica Neue", "Open Sans", sans-serif;
    padding: 20px 0;
    text-align: center;
}

footer p {
    color: #27aE60;
    font-size: 14px;
    font-weight: 200;
}

footer a  {
    color: #27aE60;
    font-size: 14px;
    text-decoration: none;
}
