font-face(
  'GreycliffCF', 
  '../fonts/GreycliffCF-ExtraBold', 
  700, 
  formats: woff2 woff
)

font-face(
  'OdudoMono', 
  '../fonts/OdudoMono-Bold', 
  bold, 
  formats: woff2 woff
)

font-face(
  'OdudoMono', 
  '../fonts/OdudoMono-Regular', 
  normal, 
  formats: woff2 woff
)
