section-divisor($bg = #eee, $elev = 'left', $pos = 'bottom')
  content: ''
  position: absolute
  if $pos == 'bottom'
    bottom: -17.7em
    if $elev == 'left'
      bottom: -17.7em
    else
      bottom: -16.7em
  else
    top: -17.7em
    if $elev == 'left'
      top: -16.7em
    else
      top: -16.7em
  left: -2em
  display: block
  width: 120%
  height: 20em
  background: $bg
  if $elev == 'left'
    transform: rotate(2deg)
  else
    transform: rotate(-2deg)
  z-index: 10
